@page
@inject DataService  DataService
@{ 
    var playerCharacters = DataService.GetPlayerCharacters(User.Identity.Name);
}
<div class="row">
    <div class="col-sm-6">
        <div class="h3">Characters</div>
        <div class="margin-top-md list-group">
            @if (playerCharacters.Count() > 0)
            {
                foreach (var character in playerCharacters)
                {
                    <a href="#" class="list-group-item">
                        @character.Name
                        <span class="badge">Core Energy: @character.CoreEnergy</span>
                    </a>
                }
            }
            else
            {
                <a href="#" class="list-group-item">
                    No characters created.
                </a>
            }
        </div>

        <div class="margin-top-md">
            <a asp-page="CharacterCreate" class="btn btn-primary">Create New</a>
        </div>
    </div>


    <div class="col-sm-6">

    </div>
</div>
