@page
@inject DataService  DataService
@{
    var playerCharacters = DataService.GetPlayerCharacters(User.Identity.Name);
}
<div class="row">
    <div class="col-sm-5">
        <div class="h3">Characters</div>
        <div class="margin-top-md list-group max-height-300 vscroll">
            @if (playerCharacters.Count() > 0)
            {
                foreach (var character in playerCharacters)
                {
                    <a href="#" class="list-group-item character-selector" character-color="@character.Color">
                        @character.Name
                        <span class="badge">Core Energy: @character.CoreEnergy</span>
                    </a>
                }
            }
            else
            {
                <a href="#" class="list-group-item">
                    No characters created.
                </a>
            }
        </div>

        <div class="margin-top-md">
            <a asp-page="CharacterCreate" class="btn btn-primary">Create New</a>
        </div>
    </div>


    <div id="divCharacterPreview" class="col-sm-5 col-sm-offset-1" hidden>
        <div>
            <canvas id="previewCharacterCanvas"></canvas>
        </div>
        <div>
            <div class="col-xs-6 text-center">
                <button class="btn btn-primary">Enter</button>
            </div>
            <div id="deleteCharacterButton" class="col-xs-6 text-center">
                <button class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    </div>
</div>


<script type="module" src="~/ts/Pages/CharacterSelect.js"></script>