@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link href="~/css/splash.css" rel="stylesheet" />

<div class="row text-center">
    <div class="col-sm-12">
        <img id="imgTitle" src="~/Assets/Images/AfterTitle.png" />
    </div>
</div>
<div class="row text-center">
    <div id="divTunnel" class="col-sm-12">
        <canvas id="splashCanvas" class="glowing"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <a href="~/Identity/Account/Login" class="btn btn-primary btn-lg login-button">
            Login
        </a>
        <br /><br />
        <a href="~/Identity/Account/Register" class="btn btn-default btn-lg login-button">
            Register
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 footer text-right">
        Sound by <a href="http://www.freesound.org/people/ceich93/">Operation Contrast</a>.
    </div>
</div>


<script type="module" src="~/ts/Pages/Splash.js"></script>