@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="well well-lg">
    <h4>An online action-RPG set in an abstract, infinite afterlife.</h4>
</div>


<div class="row">
    <div class="col-sm-12">
        This project is in the very beginning stages.  I'll put more information here once
        the project gets further along.
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h2>Sound Credits</h2>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-4 small">
            <h4>
                Artist:
            </h4>
        </div>
        <div class="col-xs-8 small">
            <h4>
                Ceich93
            </h4>
        </div>
        <div class="col-xs-4 small">
            Site:
        </div>
        <div class="col-xs-8 small">
            <a href="https://freesound.org/people/ceich93/" target="_blank">https://freesound.org/people/ceich93/</a>
        </div>
        <div class="col-xs-4 small">
            Titles:
        </div>
        <div class="col-xs-8 small">
            Drone-OminousDistortion
            <br />
            Drone-DarkEmptiness
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-xs-4 small">
            <h4>
                Artist:
            </h4>
        </div>
        <div class="col-xs-8 small">
            <h4>
                GameAudio
            </h4>
        </div>
        <div class="col-xs-4 small">
            Site:
        </div>
        <div class="col-xs-8 small">
            <a href="https://freesound.org/people/GameAudio/" target="_blank">https://freesound.org/people/GameAudio/</a>
        </div>
        <div class="col-xs-4 small">
            Titles:
        </div>
        <div class="col-xs-8 small">
            Teleport
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Open-Source Licenses</h2>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-4 small">
            <h4>Library:</h4>
        </div>
        <div class="col-xs-8 small">
            <h4>Pixi.js</h4>
        </div>
        <div class="col-xs-4 small">
            Project Site:
        </div>
        <div class="col-xs-8 small">
            <a href="http://pixijs.com/" target="_blank">http://pixijs.com/</a>
        </div>
        <div class="col-xs-4 small">
            License:
        </div>
        <div class="col-xs-8 small">
            <a href="https://github.com/pixijs/pixi.js/blob/master/LICENSE" target="_blank">https://github.com/pixijs/pixi.js/blob/master/LICENSE</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-4 small">
            <h4>
                Library:
            </h4>
        </div>
        <div class="col-xs-8 small">
            <h4>
                Pixi-Particles
            </h4>
        </div>
        <div class="col-xs-4 small">
            Project Site:
        </div>
        <div class="col-xs-8 small">
            <a href="https://github.com/pixijs/pixi-particles" target="_blank">https://github.com/pixijs/pixi-particles</a>
        </div>
        <div class="col-xs-4 small">
            License:
        </div>
        <div class="col-xs-8 small">
            <a href="https://github.com/pixijs/pixi-particles/blob/master/LICENSE" target="_blank">https://github.com/pixijs/pixi-particles/blob/master/LICENSE</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-4 small">
            <h4>
            Library:
            </h4>
        </div>
        <div class="col-xs-8 small">
            <h4>
                Bootswatch
            </h4>
        </div>
        <div class="col-xs-4 small">
            Project Site:
        </div>
        <div class="col-xs-8 small">
            <a href="https://bootswatch.com/" target="_blank">https://bootswatch.com/</a>
        </div>
        <div class="col-xs-4 small">
            License:
        </div>
        <div class="col-xs-8 small">
            <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE" target="_blank">https://github.com/thomaspark/bootswatch/blob/master/LICENSE</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-4 small">
            <h4>
                Library:
            </h4>
        </div>
        <div class="col-xs-8 small">
            <h4>
                QRCode.js
            </h4>
        </div>
        <div class="col-xs-4 small">
            Project Site:
        </div>
        <div class="col-xs-8 small">
            <a href="https://github.com/davidshimjs/qrcodejs" target="_blank">https://github.com/davidshimjs/qrcodejs</a>
        </div>
        <div class="col-xs-4 small small">
            License:
        </div>
        <div class="col-xs-8 small">
            <a href="https://github.com/davidshimjs/qrcodejs/blob/master/LICENSE" target="_blank">https://github.com/davidshimjs/qrcodejs/blob/master/LICENSE</a>
        </div>
    </div>
</div>

<style>
    .col-xs-8.small {
        word-wrap: break-word;
    }
</style>