@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="well well-lg">
    <h4>An MMORPG/2D-shooter hybrid set in an abstact, procedurally-generated afterlife.</h4>
</div>


<div class="row">
    <div class="col-sm-12">
        This project is in the very beginning stages.  I'll put more information here once
        the project gets further along.
    </div>
</div>
