@page
@model After.Pages.CharacterCreateModel
@{
    ViewData["Title"] = "Create Character";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create New Character</h2>

<div class="row">
    <div asp-validation-summary="All" class="col-sm-12 text-danger"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>
            Character Name
        </h4>
        <form id="characterCreateForm" method="post">
            <input asp-for="Input.CharacterName" class="form-control" placeholder="Enter a character name..." />
            <span asp-validation-for="Input.CharacterName" class="text-danger"></span>
            <input id="soulColorInput" type="hidden" asp-for="Input.Color" value="gray" />
        </form>
    </div>

</div>

<div class="row margin-top-md">
    <div class="col-sm-6">
        <h4>
            Soul Color
        </h4>
        <div id="divCharacterColor">
            <div>
                <label style="color:red">Red:</label>
                <br />
                <input id="inputRed" type="range" min="0" max="255" value="125"  class="form-control" />
            </div>
            <div>
                <label style="color:green">Green:</label>
                <br />
                <input id="inputGreen" type="range" min="0" max="255" value="125" class="form-control" />
            </div>
            <div>
                <label style="color:blue">Blue:</label>
                <br />
                <input id="inputBlue" type="range" min="0" max="255" value="125" class="form-control" />
            </div>
            <div class="margin-top-md">
                <label>Presets:</label>
                <br />
                <select class="form-control" id="selectColor" style="width:100%"></select>
            </div>
        </div>
        <div class="text-right margin-top-md">
            <button type="submit" form="characterCreateForm" class="btn btn-primary">Save</button>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
        <div id="previewDiv">
            <canvas id="previewCanvas"></canvas>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/ts/Pages/CharacterCreate.js"></script>
}
