@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}



@if (User.Identity.IsAuthenticated)
{
    // TODO: Game div.
}
else
{
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="~/Identity/Account/Login" class="btn btn-primary btn-lg">
                Login
            </a>
            <br /><br />
            <a href="~/Identity/Account/Register" class="btn btn-default btn-lg">
                Register
            </a>
        </div>
    </div>
}



@section Scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var waitForInit = () => {
                if (typeof After == "undefined") {
                    window.setTimeout(waitForInit, 250);
                }
                else {
                    After.Init();
                }
            };
            waitForInit();
        </script>
    }
}