@page
@model After.Pages.PlayModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>After</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/manifest.json" rel="manifest" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="icon" href="~/favicon.ico" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/play.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/play.css" asp-append-version="true" />
    </environment>
    <link href="~/css/Themes/darkly.min.css" rel="stylesheet" />
</head>
<body>
    @if (Model.CharacterNotFound)
    {
        <partial name="_CharacterNotFound" />
    }
    else
    {
        <partial name="GameUI/_Main" />

    }
</body>
</html>
