@page

@{
}
<!DOCTYPE html>
<html>
<head>
    <title>After</title>
    <link href="~/Assets/Images/A.png" rel="icon" />
    <link href="~/manifest.json" rel="manifest" />
    <meta id="viewport" name="viewport" content="width=device-width" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/site.css" rel="stylesheet" />
    <script src="~/Scripts/jQuery/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/App/Temp.js"></script>
    <script src="~/Scripts/Models/Bases/Selectable.js"></script>
    <script src="~/Scripts/Models/Particle.js"></script>
    <script src="~/Scripts/Models/FreeParticle.js"></script>
    <script src="~/Scripts/Models/Area.js"></script>
    <script src="~/Scripts/Models/Soul.js"></script>
    <script src="~/Scripts/Models/Power.js"></script>
    <script src="~/Scripts/App/Utilities.js"></script>
    <script src="~/Scripts/App/Audio.js"></script>
    <script src="~/Scripts/App/Canvas.js"></script>
    <script src="~/Scripts/App/Game.js"></script>
    <script src="~/Scripts/App/Input.js"></script>
    <script src="~/Scripts/App/Connection.js"></script>
    <script src="~/Scripts/App/Drawing.js"></script>
    <script src="~/Scripts/App/Me.js"></script>
    <script src="~/Scripts/App/Settings.js"></script>
    <script src="~/Scripts/App/MessageHandlers.js"></script>
    <script src="~/Scripts/App/UI.js"></script>
    <script src="~/Scripts/Controls/CreateAccount.js"></script>
    <script src="~/Scripts/Controls/CreateCharacter.js"></script>
    <script src="~/Scripts/Controls/Intro.js"></script>
    <script src="~/Scripts/Controls/Game.js"></script>
    <script defer src="~/Scripts/Play.js"></script>
</head>
<body>
    <div id="divLogin" onkeypress='if (event.keyCode == 13) { After.Temp.Login.TryLogin(); }'>
        <div id="divLoginImage">
            <img src="/Assets/Images/AfterTitle.png" alt="After" />
        </div>

        <br />
        <div id="divLoginForm">
            <label class="font-sansserif" for="inputUsername">Username:</label><br />
            <input id="inputUsername" type="text" />
            <br />
            <label class="font-sansserif" for="inputPassword">Password:</label><br />
            <input id="inputPassword" type="password" />
            <div id="divNewPassword" hidden>
                <label class="font-sansserif" for="inputPassword">New Password:</label><br />
                <input id="inputNewPassword" type="password" />
                <br />
                <label class="font-sansserif" for="inputPassword">Confirm New Password:</label><br />
                <input id="inputConfirmNewPassword" type="password" />
            </div>
            <br />
            <div id="divRemember" class="font-sansserif">
                <label>Remember Me</label>
                <input id="checkRememberMe" type="checkbox" onchange="After.Temp.Login.RememberMeChanged(event)" />
            </div>
            <div style="text-align:right; margin-top: 10px">
                <button id="buttonLogin" type="button" onclick="After.Temp.Login.TryLogin()">Log In</button>
                <br />
                <a href="#" onclick='After.Temp.Login.StartIntro()' style="margin-top:10px">New player?  Click here!</a>
                <br />
                <a href="#" onclick='After.Temp.Login.ForgotPasswordClicked()'>Forgot password?</a>
            </div>
        </div>
        <div id="divLoginStatus" style="color: red; font-size: small; margin-top: 20px;"></div>
        <style>
            #divLogin {
                height: 100%;
                width: 100%;
                text-align: center;
            }

            #divLoginImage {
                height: 200px;
                background-image: url('/Assets/Images/Tunnel.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            #divLoginImage img {
                position: relative;
                top: 20%;
            }

            #divLoginForm {
                text-align: left;
                display: inline-block;
            }

            #divLoginForm label {
                color: white;
            }

            #divLoginForm a {
                font-size: smaller;
                text-decoration: none;
                color: Highlight;
                cursor: pointer;
                display: inline-block;
            }

            #divLoginForm a:hover {
                color: white;
            }

            #divRemember {
                font-size: .8em;
                margin-top: 5px;
            }
        </style>
    </div>
</body>
</html>