@{ 

}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="Images/A.png" />
    <title>After</title>
    <meta charset="utf-8" />
    <meta name="description" content="A multiplayer online RPG for the Universal Windows Platform" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <audio src="./Sounds/ceich93_drone-ominousdistortion.mp3" autoplay loop></audio>
    <script src="./Scripts/jquery-3.1.0.min.js"></script>
    <script src="./Scripts/jquery-ui.js"></script>
    
    <div style="text-align:center;">
        <img id="imgTitle" src="./Images/AfterTitle.png" style="opacity:0" />
    </div>
    <div id="divTunnel" style="text-align:center">
        <img id="imgTunnel" src="./Images/Tunnel and Shadow.png" style="opacity:0; height:250px; width:auto" />
    </div>
    <div style="text-align:center;">
        <img id="imgPlay" class="imgLink" src="./Images/Play.png" style="opacity:0" />
        <img id="imgBlog" class="imgLink" src="./Images/DevBlog.png" style="opacity:0" />
    </div>
    <div style="margin-top:50px;text-align: right; color:white; font-size:50%">
        Sound by <a href="http://www.freesound.org/people/ceich93/">Operation Contrast</a> at FreeSound.org.
    </div>

    <div id="divEffects" style="position:fixed; left:0; top:0; width:100%; height:100%; pointer-events: none;"></div>
    <script>
        $(document).ready(function () {
            $('body').click(function () {
                $("img").css("opacity", 1);
                $('body').off("click");
            });
            $('#imgBlog').click(function () {
                $('body').fadeOut('slow');
                window.setTimeout(function () { window.location.assign("http://after-game.net/Blog"); }, 1000);
            });
            $('#imgPlay').click(function () {
                window.location.assign("https://play.after-game.net");
            });
            $('.imgLink').hover(function () {
                $(this).css("border", "2px solid white");
            }, function () {
                $(this).css("border", "2px solid gray");
            });
            $('#imgTitle').animate({ opacity: "1" }, 2000, function () {
                raiseParticle();
                $('#imgTunnel').animate({ opacity: "1" }, 2000, function () {
                    glow();
                    $('#imgPlay').animate({ opacity: "1" }, 2000);
                    $('#imgBlog').animate({ opacity: "1" }, 2000, function () {
                        
                    });
                });
            });
        });

        function glow() {
            $('#imgTunnel').animate({ opacity: "0.5" }, 3000, function () {
                $('#imgTunnel').animate({ opacity: "1" }, 3000, function () {
                    glow();
                });
            });
        }

        function raiseParticle() {
            var rectList = document.getElementById("imgTunnel").getBoundingClientRect();
            var riseHeight = $("#imgTunnel").height() * .8;
            var randomLeft = Math.random() * ($("#imgTunnel").width() * .20) + ($("#imgTunnel").width() * .25);
            var startLeft = Math.round(randomLeft + rectList.left);
            var startTop = Math.round(rectList.top + $("#imgTunnel").height() * .45);
            var part = document.createElement("div");
            $(part).css({
                height: "1px",
                width: "1px",
                left: startLeft,
                top: startTop,
                "border-radius": "100%",
                position: "absolute",
                "background-color": "black"
            });
            document.getElementById("divEffects").appendChild(part);
            $(part).animate({
                height: "6px",
                width: "6px",
                "top": "-=" + riseHeight,
                "opacity": "0",
                "background-color": "gray"
            }, 3000, function () {
                $(part).remove();
                delete part;
            });
            window.setTimeout(function () {
                raiseParticle();
            }, 100);
        }
    </script>
    <style>
        body {
            background-color:black;
            vertical-align: middle;
        }

        img {
            opacity: 0;
        }

        .divImg {
            text-align:center;
        }

        #imgBlog {
            margin: 10px;
            width: 150px;
            height: auto;
            cursor:pointer;
            border: 2px solid gray;
        }

        #imgPlay {
            margin: 10px;
            width: 150px;
            height: auto;
            cursor:pointer;
            border: 2px solid gray;
        }

        div.footer {
            position:absolute;
            right:20px;
            bottom: 20px;
            text-align:right;
            color:white;
            font-size:50%;
            z-index:-1
        }
    </style>
</body>
</html>
