@{
    if (!Request.IsSecureConnection && !Request.IsLocal)
    {
        Response.RedirectPermanent("https://after-game.net", true);
    }
    if (Context.IsWebSocketRequest)
    {
        Microsoft.Web.WebSockets.WebSocketExtensions.AcceptWebSocketRequest(Context, new After.Socket_Handler());
        return;
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>After</title>
    <link href="~/Assets/Images/A.png" rel="icon" />
    <link href="~/manifest.json" rel="manifest" />
    <meta id="viewport" name="viewport" content="width=device-width" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/Styles.css" rel="stylesheet" />
    <script src="~/scripts/jQuery/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/App/Temp.js"></script>
    <script src="~/scripts/Models/Bases/Selectable.js"></script>
    <script src="~/scripts/Models/Particle.js"></script>
    <script src="~/scripts/Models/FreeParticle.js"></script>
    <script src="~/scripts/Models/Area.js"></script>
    <script src="~/scripts/Models/Soul.js"></script>
    <script src="~/scripts/Models/Power.js"></script>
    <script src="~/scripts/App/Utilities.js"></script>
    <script src="~/scripts/App/Audio.js"></script>
    <script src="~/scripts/App/Canvas.js"></script>
    <script src="~/scripts/App/Game.js"></script>
    <script src="~/scripts/App/Connection.js"></script>
    <script src="~/scripts/App/Drawing.js"></script>
    <script src="~/scripts/App/Me.js"></script>
    <script src="~/scripts/App/Settings.js"></script>
    <script src="~/scripts/Message_Handlers/Accounts.js"></script>
    <script src="~/scripts/Message_Handlers/Events.js"></script>
    <script src="~/scripts/Message_Handlers/Messages.js"></script>
    <script src="~/scripts/Message_Handlers/Queries.js"></script>
    <script src="~/scripts/Controls/CreateAccount.js"></script>
    <script src="~/scripts/Controls/CreateCharacter.js"></script>
    <script src="~/scripts/Controls/Intro.js"></script>
    <script src="~/scripts/Controls/LoginForm.js"></script>
    <script src="~/scripts/Controls/Game.js"></script>
    <script src="~/scripts/Controls/Splash.js"></script>
    <script src="~/scripts/App/Init.js"></script>
</head>
<body>
   
</body>
</html>