<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://after-game.net:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <IncludeSetAclProviderOnDestination>false</IncludeSetAclProviderOnDestination>
    <MSDeployServiceURL>https://after-game.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>After</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>SERVY\Typical</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="World" Order="1" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\World.mdf;Initial Catalog=After.App_Code.Models.World;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\World_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\World.mdf;initial catalog=After.App_Code.Models.World;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>server=SERVY\After;database=After;user id=Translucency;password=Atp!a!85;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>server=SERVY\After;database=After;user id=Translucency;password=Atp!a!85;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>server=SERVY\After;database=After;user id=Translucency;password=Atp!a!85;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>server=SERVY\After;database=After;user id=Translucency;password=Atp!a!85;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>server=SERVY\After;database=After;user id=Translucency;password=Atp!a!85;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>data source=tcp:s14.winhost.com;initial catalog=DB_100286_after;integrated security=False;user id=DB_100286_after_user;password=WesleySnipes;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>data source=tcp:s14.winhost.com;initial catalog=DB_100286_after;integrated security=False;user id=DB_100286_after_user;password=WesleySnipes;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>data source=tcp:s14.winhost.com;initial catalog=DB_100286_after;integrated security=False;user id=DB_100286_after_user;password=WesleySnipes;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <ParameterValue>data source=tcp:s14.winhost.com;initial catalog=DB_100286_after;user id=DB_100286_after_user;password=WesleySnipes;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="World-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>