<div id="characterInfo">
    <div>
        @Context.Request.Query["character"]
    </div>


    <div class="pool-title">Energy</div>
    <div class="progress">
        <div id="energyProgress" class="progress-bar progress-bar-energy"></div>
    </div>

    <div class="pool-title">Willpower</div>
    <div class="progress">
        <div id="willpowerProgress" class="progress-bar progress-bar-willpower"></div>
    </div>

    <div class="pool-title">Charge</div>
    <div class="progress">
        <div id="chargeProgress" class="progress-bar progress-bar-charge"></div>
    </div>
</div>

<style>
    #characterInfo {
        position: fixed;
        top: 5px;
        left: 5px;
        width: 15vw;
    }

    #characterInfo .progress {
        margin-bottom: 5px;
        background-color: lightgray;
    }

    .progress-bar-energy {
        background-color: cyan !important;
    }

    .progress-bar-willpower {
        background-color: gold !important;
    }

    .progress-bar-charge {
        background-color: magenta !important;
    }

    .pool-title {
        font-size: .8em;
    }

</style>