<div id="characterInfo">
    <div>
        @Context.Request.Query["character"]
    </div>
    <div id="divStatus" class="font-sansserif transparent-menu">



        <div class="pool-title">Energy</div>
        <div>
            <svg id="svgEnergy">
                <defs>
                    <radialGradient id="gradientEnergy" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                        <stop offset="0%" style="stop-color:white;" />
                        <stop offset="70%" style="stop-color:cyan;" />
                        <stop offset="100%" style="stop-color:transparent;" />
                    </radialGradient>
                </defs>
                <ellipse cx="50%" cy="50%" rx="45%" ry="20%" fill="url(#gradientEnergy)"></ellipse>
            </svg>
            <div>
                <div class="pool-amount" id="divEnergyAmount">
                    0
                </div>
            </div>
        </div>


        <div class="pool-title">Willpower</div>
        <div>
            <svg id="svgWillpower">
                <defs>
                    <radialGradient id="gradientWillpower" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                        <stop offset="0%" style="stop-color:white;" />
                        <stop offset="70%" style="stop-color:goldenrod;" />
                        <stop offset="100%" style="stop-color:transparent;" />
                    </radialGradient>
                </defs>
                <ellipse cx="50%" cy="50%" rx="45%" ry="20%" fill="url(#gradientWillpower)"></ellipse>
            </svg>
            <div>
                <div class="pool-amount" id="divWillpowerAmount">
                    0
                </div>
            </div>
        </div>



        <div class="pool-title">Charge</div>
        <div>
            <svg id="svgCharge">
                <defs>
                    <radialGradient id="gradientCharge" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                        <stop offset="0%" style="stop-color:white;" />
                        <stop offset="70%" style="stop-color:magenta;" />
                        <stop offset="100%" style="stop-color:transparent;" />
                    </radialGradient>
                </defs>
                <ellipse cx="50%" cy="50%" rx="45%" ry="20%" fill="url(#gradientCharge)"></ellipse>
            </svg>
            <div>
                <div class="pool-amount" id="divChargeAmount">
                    0
                </div>
            </div>
        </div>
    </div>
</div>