@{ }

<div id="chatWindow" class="well well-sm chat-closed">
    <div id="chatMessages"></div>
    <div id="chatInputDiv">
        <select id="selectChatChannel">
            <option value="Global">Global</option>
        </select>
        <input id="chatInput" />

    </div>
</div>