<div id="characterInfo">
    <div>
        @Context.Request.Query["character"]
    </div>


    <div class="pool-title">Energy</div>
    <div class="progress">
        <div id="energyProgress" class="progress-bar progress-bar-energy"></div>
    </div>

    <div class="pool-title">Willpower</div>
    <div class="progress">
        <div id="willpowerProgress" class="progress-bar progress-bar-willpower"></div>
    </div>

    <div class="pool-title">Charge</div>
    <div class="progress">
        <div id="chargeProgress" class="progress-bar progress-bar-charge"></div>
    </div>
</div>