<div id="debugFrame" style="display:none">
    <div>
        FPS: <span id="fpsSpan"></span>
    </div>
    <div>
        Ping: <span id="pingSpan"></span>
    </div>
    <div>
        <a id="jsErrorsLink" href="#">JS Errors</a>
    </div>
</div>

<style>
    #debugFrame {
        display: inline-block;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
</style>