<div id="menuWrapper">
    <div class="menu-buttons-bar">
        <span id="menuButton" title="Main Menu" class="glyphicon glyphicon-menu-hamburger menu-item-left"></span>
        <span id="addToHomeButton" title="Add to Home Screen" class="glyphicon glyphicon-home menu-item-center"></span>
        <span id="logoutButton" title="Log Out" class="glyphicon glyphicon-off menu-item-right"></span>
    </div>
    <hr />
    <div class="menu-section">
        <div class="menu-section-header">
            <span class="glyphicon glyphicon-user"></span>
            Character
        </div>
        <div class="menu-body menu-body-closed">
            <div class="menu-item">
                <span class="menu-item-left">Name:</span>
                <span class="menu-item-right">@Context?.Request?.Query?["character"]</span>
            </div>
            <div class="menu-item">
                <span class="menu-item-left">Core&nbsp;Energy:</span>
                <span class="menu-item-right" data-bind="After.Me.Character.CoreEnergy"></span>
            </div>
            <div class="menu-item">
                <span class="menu-item-left">Max&nbsp;Energy:</span>
                <span class="menu-item-right" data-bind="After.Me.Character.MaxEnergy"></span>
            </div>
            <div class="menu-item">
                <span class="menu-item-left">Energy&nbsp;Mod:</span>
                <span class="menu-item-right" data-bind="After.Me.Character.MaxEnergyModifier"></span>
            </div>
            <div class="menu-item">
                <span class="menu-item-left">Energy&nbsp;Peak:</span>
                <span class="menu-item-right"  data-bind="After.Me.Character.CoreEnergyPeak"></span>
            </div>

            <div class="menu-item">
                <span class="menu-item-left">Max&nbsp;Willpower:</span>
                <span class="menu-item-right" data-bind="After.Me.Character.MaxWillpower"></span>
            </div>
            <div class="menu-item">
                <span class="menu-item-left">Willpower&nbsp;Mod:</span>
                <span class="menu-item-right" data-bind="After.Me.Character.MaxWillpowerModifier"></span>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="menu-section-header">
            <span class="glyphicon glyphicon-star"></span>
            Powers
        </div>
        <div class="menu-body menu-body-closed">
            <div class="menu-item">

            </div>
        </div>
    </div>
    <div class="menu-section">
        <div class="menu-section-header">
            <span class="glyphicon glyphicon-wrench"></span>
            Options
        </div>
        <div class="menu-body menu-body-closed">
            <div class="menu-item">
                <span class="menu-item-left">Fullscreen:</span>
                <span class="menu-item-right">
                    <button id="buttonFullscreen">Toggle</button>
                </span>
            </div>
            <div class="menu-item">
                <span class="menu-item-left">Touch Controls:</span>
                <div class="menu-item-right">
                    <div id="toggleTouchControls" class="toggle-switch-outer" on="false">
                        <div class="toggle-switch-inner"></div>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <span class="menu-item-left">Debug Info:</span>
                <div class="menu-item-right">
                    <div id="toggleDebugWindow" class="toggle-switch-outer" on="false">
                        <div class="toggle-switch-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #menuWrapper {
        position: fixed;
        top: 5px;
        right: 5px;
        width: 35px;
        height: 35px;
        background-color: rgba(75,75,75,0.75);
        padding: 10px;
        max-height: 90vh;
        overflow: hidden;
        z-index: 2;
    }

    #menuButton, #addToHomeButton, #logoutButton {
        cursor: pointer;
        -ms-touch-action: none;
        touch-action: none;
    }

    #menuWrapper hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .menu-section {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .menu-section-header {
        padding: 10px;
        background-color: rgba(20, 20, 20, 0.75);
        cursor: pointer;
        overflow: hidden;
    }
    .menu-section-header:hover {
        background-color: rgba(100, 100, 100, 0.75);
    }
    .menu-section-header:active {
        background-color: rgba(200, 200, 200, 0.75);
    }
    .menu-body {
        padding: 10px;
        overflow: hidden;
        font-size: .8em;
        height: auto;
        transition-property: height padding;
        transition-timing-function: linear;
        transition-duration: 200ms;
    }
    
    .menu-body-closed {
        height: 0;
        padding: 0;
        transition-property: height padding;
        transition-timing-function: linear;
        transition-duration: 200ms;
    }
    .menu-item {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        margin-top: 5px;
    }
    .menu-buttons-bar {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
    }

    .menu-item-left {
        grid-column: 1;
    }
    .menu-item-center {
        grid-column: 2;
        text-align: center;
    }
    .menu-item-right {
        grid-column: 3;
        text-align: right;
    }
</style>