<div id="statsFrame" style="display:none">
    <div>
        FPS: <span id="fpsSpan"></span>
    </div>
</div>

<style>
    #statsFrame {
        display: inline-block;
        position: fixed;
        top: 10px;
        right: 10px;
    }
</style>