/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

#qrCode img {
    border: 3px solid white;
}


nav {
    background-color: rgb(50,50,50) !important;
}

.login-button {
    width: 130px;
}

.margin-top-md {
    margin-top: 20px !important;
}

.margin-top-lg {
    margin-top: 40px !important;
}