div.footer {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: right;
    font-size: 75%;
}


.glowing {
    animation-name: glowing;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glowing {
    from {
        opacity: 1;
    }

    to {
        opacity: .4;
    }
}