body {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

button {
    background-color: black;
    border-style:solid;
    color: lightgray;
    border-color:dimgray;
    border-width: thin;
    height: 2em;
}
select {
    background-color: black;
    border-style:solid;
    color: lightgray;
    border-color:dimgray;
    border-width: thin;
}
button:hover {
    background-color: dimgray;
    transition: .2s all;
}
button:active {
    background-color: gray;
    transition: .1s all;
}

.hidden {
    display: none;
}

.font-serif {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.font-sansserif {
     font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}
.particle {
    height: 2px;
    width: 2px;                                      
    border-radius: 100%;
    position: absolute;
    background-color: white;
}

.transparent-menu {
    background-color: rgba(0, 0, 0, 0.75)
}

.link-button {
    padding: 1em 1.5em;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 2px solid gray;
    font-family: sans-serif;
}

.link-button:hover {
    border: 2px solid white;
}

.dialog-letter {
    opacity : 0;
}

.dialog-letter-appear {
    transition: all linear 500ms;
    opacity: 1;
}

/*** Loading Frame ***/
.loading-frame {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.loading-track {
    height: 50px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
}

.loading-dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 100%;
    opacity: 0;
}

.loading-dot-animated {
    animation-name: loading-dot-animated;
    animation-direction: alternate;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes loading-dot-animated {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/***  Toggle Switch ***/
.switch-outer {
    height: 25px;
    width: 45px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.switch-outer[on="true"] {
    background-color: steelblue;
    transition: .5s;
}

.switch-outer[on="false"] {
    background-color: gray;
    transition: .5s;
}

.switch-inner {
    border-radius: 100%;
    background-color: white;
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch-outer[on="true"] .switch-inner {
    margin-left: 24%;
    transition: .5s;
}

.switch-outer[on="false"] .switch-inner {
    margin-left: -24%;
    transition: .5s;
}

@viewport {
    width: device-width;
}